__pycache__/
*$py.class
*.py[cod]

# C extensions
*.so

# Unit test / coverage reports
*.cover
.cache
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
.tox/
coverage.xml
htmlcov/
nosetests.xml

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
ENV/
env.bak/
env/
venv.bak/
venv/

# Tmp files
*.swp
*.tmp
~*

# models
Res50_pyramid.pth

# Datasets
AFW/
FDDB/
PASCAL/
WIDER/
datasets/
logs/
snapshots/

# Third party projects
face-eval/

# Caffe
#*.binaryproto
#*.caffemodel
#*.prototxt
#*.solverstate
