# Results for of SFD on WIDER_FACE dataset

The results of validation set using the original model provided by the authors are as follows: <br />
Easy subset = 93.9%    <br />
Medium subset = 92.2%  <br />
Hard subset = 83.4%    <br />
These results are slightly lower than the results in table 3 of SFD paper. in the paper easy subset = 93.7%  , medium subset = 92.4 , and hard subset = 85.2 <br />
We notice that the results we got for easy subset is actually better than the paper, but for medium and hard it is worse, the difference is big in hard subset 85.2 in the paper vs. 83.4 in our evaluation. 
![Alt text](assets/SFD-orig-easy.jpg)
![Alt text](assets/SFD_orig_medium.jpg)
![Alt text](assets/SFD_orig_hard.jpg)

